@import url('https://fonts.googleapis.com/css2?family=Glass+Antiqua&family=Merriweather:wght@300;700&family=Roboto:wght@400;500&display=swap');


*{
	margin: 0;
	padding: 0;
}


body{
	background-color: pink;
	margin: 0;
	margin: auto;
}

section{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 10vh 90vh 100vh 170vh 10vh ;
}


/*inicio barra de navegação */
nav{
	background-color: #000;
	grid-column: 1/3;
	display: flex;
	justify-content: space-between;
	align-items: center;

}


.container{

}


.elemento{
	margin-left: 25px;
	margin-right: 25px;
}


#bt-logo{
	font-family: Glass-antiqua;
	color: #FF9500;
	font-size: 40px;
}

#bt-duvidas{
	font-size: roboto;
	font-size: 25px;
	color: #FF9500;
}

/*final barra de navegação */

/*inicio do header */
header{
	background-color: #252323;
	grid-column: 1/2;
}


#pt2{
	background-color: #252323;
	grid-column: 2/3;
	z-index: -1;
}


#texto1{
	margin: auto;
	display: block;	
	position: relative;
	top: 200px;
	left: 0;
}



/*propriedades do tablet na sessão inicial */

#tablet{
	width: 100%;
  	display: block;
  	position: relative;
  	right: 15px;
  	z-index: 1;
  	display: flex;
}




#container1{
	width: 100%;
	height: auto;
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;

}


#traco1{
	width: 80%;
	position: absolute;
	right: 0;
	bottom: 0;
}
/*final do header*/


main{
	background-color: #FF9500;
	grid-column: 1/3;	
}


h2, h3{
	font-family: merriweather;

}

/*INICIO SESSÃO MAIN */
/*O "RESTAURANTES" DA SESSÃO MAIN */
#txt-restaurantes{
	margin-left: 110px;
	margin-top: 70px;
	font-size: 30px;
}

/*O CONTAINER COM TODAS AS IMAGENS DOS RESTAURANTES*/
.container-restaurantes{
	margin-top: 80px;
	padding-left: 250px;
	padding-right: 250px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}

img{}

.titulo-restaurantes{
	margin-top: 20px;
}

/*FINAL SESSÃO MAIN */

/*INICIO SESSÃO SECTION */


#cadastre-se{
	background-color:#252323;
	grid-column: 1/3;
}

.container-4{
	padding: 15px;
	width: 200%;
	height: 1750%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	box-sizing: border-box;
	z-index: 1;
}

#item1{
	margin-top: 150px;
	color: white;
	width: 60%;
	height: 50px;
}

#item2{
	color: white;
	max-width:50%;
	height: 130px;
}


#item3{
	margin-top: 10px;
	color: white;
	width: 60%;
	height: 400px;
}

H1{
	text-align: center;
	font-family: merriweather;
	font-size: 50px;
}

#txt-cadastre-se{
	font-family: roboto;
	font-size: 35px;
	text-align: center;
}

form{
	width: 400px;
	margin: 0 auto;
}

label{
	margin-left: -100px;
	font-size: 23PX;
	font-family: roboto;
}

input{
	width: 150%;
	height: 35px;
	margin-bottom: 10px;
	padding-left: 5px;
	border: 1px solid #C4C4C4;
	border-radius: 5px 5px 5px 5px;
	font-family: Inter, sans-serif ;
	font-size: 0.8rem;	
	margin-left: -100px;
	box-sizing: border-box;
	font-family: roboto;
	font-size: 20px;
}

#aviso-form{
	font-size: 1.0em;
	color: #FF9500; 
}

#bt-enviar{
	background-color: #FF9500;
	margin-left: 197px;
	margin-top: 180px;
	width: 75%;
	font-family: roboto;
	font-size: 1.5em;
	font-weight: 500;
	border-radius: 35PX
}

/*PROPRIEDADES DO BOTAO-TOPO */
#botao-topo{
	width: 15%;	
	height: 35px;
	background-color: #FF9500;
	color: #000;
	position: relative;
	top: 130px;
	left: 190px;
	text-align: center;
	float: right;
	border-radius: 35PX;
	font-family: roboto;


}


#txt-botao-topo{
	font-family: roboto;
	font-weight: 500;
	font-size: 1.5em;
	position: absolute;
	top: 11%;
	left: 23%;

}


#traco3{
	width: 80%;
	position: absolute;

}

/*FINAL PROPRIEDADES DO BOTAO-TOPO */


/*INICIO PROPRIEDADES DO FOOTER */
footer{
	background-color: #000;
	grid-column: 1/3;
	display: flex;
	justify-content: center;
	align-items: center;
}

#txt-footer{
	font-family: roboto;
	font-weight: 400;
	font-size: 1.6em;
	color:#FF9500;
}

/*FINAL PROPRIEDADES DO FOOTER */