@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;700&family=Roboto:wght@400;500&display=swap');

*{
	margin: 0;
	padding: 0;
}


body{
	margin: 0;
	margin: auto;
}


nav{
	background-color: #000;
}


/O ul e li são mudanças dos itens que estão na barra de navegação/

ul{
	color: #FFF;
	display: flex;
	justify-content: space-between;
	flex-direction: column; 
}

nav ul{
	display: flex;
	flex-direction: row;
}

li{
	list-style-type: none;
	margin: 22px;
}

.fundo_preto{background-color: #141414;}

.fundo_laranja{background-color: #FF9500;}


section{
	display: flex;
	flex-direction: column; 
}
.quant{
	display: flex;
	flex-direction: row;
}